In [43]:
import pandas as pd
import numpy as np
import os 
from pathlib import Path
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [44]:

# filepath = os.path.join(Path(__file__).parents[1], file)
# df = pd.read_excel(
#        filepath, 
#         skiprows=2,
#         header=0)

# df = pd.read_excel(
#     r'C:\Users\unspo\OneDrive\Desktop\Work Folder\Project_3\data\TechOps_Responses_20220903_092431.xlsx',
#     skiprows=2,
#     header=0)
# df_master = pd.read_excel(
#     r'C:\Users\unspo\OneDrive\Desktop\Work Folder\Project_3\data\SBI SMART Report MTD 7.22 to 8.13.22 Team (1).xlsx',
#     sheet_name=-1)


# df = os.path.join(
#     Path(__file__).parents[1],
#     'data\\TechOps_Responses_20220903_092431.xlsx',
#     skiprows=2,
#     header=0)

In [45]:
# filepath = os.path.join(Path(__file__).parents[1], 'data\TechOps_Responses_20220903_092431.xlsx')
#  raffle = pd.read_excel(
#        filepath, 
#         skiprows=2,
#         header=0)
df= pd.read_excel(r'C:\Users\unspo\OneDrive\Desktop\Work Folder\Project_3\data\TechOps_Responses_20220903_092431.xlsx', skiprows=2, header = 0 )
df_master= pd.read_excel(r'C:\Users\unspo\OneDrive\Desktop\Work Folder\Project_3\data\SBI SMART Report MTD 7.22 to 8.13.22 Team (1).xlsx', sheet_name= -1)

In [46]:
nps = df[['Tech ID', 'SMS tNPS','Reason for score']]
master = df_master[["Tech ID", "Last Name, First Name", "Company"]]
# Columns to keep just dont know what order yet
#Reason for Score , Issue Resolved , Tech ID , SMS tNPS , Employee

In [47]:
d = nps.merge(master, how="left", on="Tech ID")

In [48]:
d['First Name'] = d["Last Name, First Name"].str.split(
        ',', expand=True)[1]
d['Last Name'] = d["Last Name, First Name"].str.split(
        ',', expand=True)[0]
d['Tech Name'] = d['First Name'] + \
        ' ' + d['Last Name']

In [49]:
d.drop(columns = ['Last Name, First Name', 'First Name', 'Last Name'], inplace= True)

In [50]:
d = d[['Tech ID', 'Tech Name', 'Company', 'SMS tNPS', 'Reason for score']]

In [51]:
nps_full = d.fillna("No Reply")

In [52]:
nps_full

,Tech ID,Tech Name,Company,SMS tNPS,Reason for score
0,8350,LEONID MURA,KOSCOM,10,very knowledge technician. patient and skilled...
1,8311,JONATHON LICHTE,SBI,10,No Reply
2,8345,MIHAI CABA,BEON,10,No Reply
3,8464,OLEKSII ZARICHUK,BEON,10,the technician went far beyond the purpose of ...
4,8361,SERGII OTRYSHKO,KOSCOM,9,No Reply
...,...,...,...,...,...
801,8465,LURIE CIOBANU,BEON,10,knowledgeable and very nice. work looked very ...
802,8317,VLADIMIR NEKRASOV,UKR,8,No Reply
803,8380,PAVLO KYSLYI,KOSCOM,10,"technician was on time, professional and got t..."
804,8456,JASON KARPLYUK,UKR,10,technician was excellent
805,8438,KIRIL TURBIN,KOSCOM,10,karrell was a good worker. very knowledgeable ...

In [53]:
kos_nps = nps_full[nps_full['Company'] == 'KOSCOM']
sbi_nps = nps_full[nps_full['Company'] == 'SBI']
beon_nps = nps_full[nps_full['Company'] == 'BEON']
ukr_nps = nps_full[nps_full['Company'] == 'UKR']

In [54]:
# connect to sql

In [55]:
kos_score = 0

for score in kos_nps['SMS tNPS']:
    if score >= 9:
        kos_score += 1
    elif score <= 6:
        kos_score -= 1

kos_per = round(((kos_score)/(len(kos_nps['SMS tNPS'])))*100, 2)

In [56]:
kos_per

87.1

In [57]:
len(kos_nps['SMS tNPS'])

496

In [58]:
kos_per

87.1

In [59]:
def per_score(df):
    num_score = 0

    for score in df['SMS tNPS']:
        if score >= 9:
            num_score += 1
        elif score <= 6:
            num_score -= 1

    return round(((num_score)/(len(df['SMS tNPS'])))*100, 2)

In [ ]:
bad_nps =

In [28]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

labels = ['bad nps', 'good nps']
values = [f'{round(100- per_score(kos_nps), 2)}', f'{per_score(kos_nps)}']
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.9)])
fig.show()

In [69]:
f'{100}-{per_score(kos_nps)}'

'100-87.1'

In [71]:
f'{round(100- per_score(kos_nps), 2)}'

'12.9'

Medallia return is number of promoters, detractors and passives with their tech ID.